@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Rose", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}

header h2 {
  padding: 2rem;
}

#logo {
  text-decoration: none;
  color: #323232;
  font-weight: 400;
  font-size: 3rem;
}

.search-form {
  padding: 2rem;
  display: flex;
}

.search-form input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid #3b478b;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: #3b478b;
  color: white;
  cursor: pointer;
  font-family: "Red Rose";
  letter-spacing: 0.1rem;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  text-decoration: none;
  color: #3b478b;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img {
  width: 100%;
  height: 100%;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-btn {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
  border: none;
  background: #3b478b;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Red Rose";
  letter-spacing: 0.1rem;
}
